{% extends 'base.html' %}

{% block content %}
    
        <div class="container">
            <div class="row gy-4">
                {% if movies %}
                {% for pelicula in movies %}
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="card">
                        <img src="{{pelicula.2}}" alt="{{pelicula.1}}" class="card-img-top">
                        <div class="card-body">
                            <h3 class="h5 text-truncate mb-1">{{pelicula.1}}</h3>
                            <span class="realease-year d-block mb-1">Year: {{pelicula.3}}</span>
                            <span class="imdb-rating d-block mb-1">IMDB: {{pelicula.5}}</span>
                            <a href="{{url_for('movies.single', id_pelicula=pelicula.0)}}" class="btn btn-warning d-block">Watch Movie</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
                {{ pagination.links }}
            </div>
        </div>
        
{% endblock content %}
    